# Node modules
node_modules/

# Logs
logs/
*.log

# Environment variables
.env
.env.local

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Java
target/

# Temporary files
*.tmp
*.temp